p{
    color: #000;
    font-size:20px
}

header,section,footer{
    background-color:#738711;
    border:5px #ffffff solid;
    padding:20px,30px;
    margin:10px,10px;
}


header{background-color:#666666;
    
    width:100%
}

header ul{
    position:absolute;
    
    top:0;
    
    line-height:470px;
}

header li {
    
    display:inline;
    margin-right:15vw;
    font-size:20px
}

h1{color:white}

header a{
    color:white;
    text-decoration:none;   
}

header a:hover{text-decoration:underline}

.kefu{
    background-color:#4d83c2;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.jieshao{
    font-size:20px;
    text-align:center;
    
    justify-content:center;
    align-items:center;
}

.caidan{
    display:flex;
    left:37vw;

}

footer{
    text-align:center;
    background-color:#ffffff
}

figcaption{
    text-align:center
}